body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f3f3f3;
}

#display {
    font-size: 2em; /* Makes the text 2 times bigger than the normal text */
}
.custom-style {
        font-family: Arial;
        color: #6c757d;
        position: absolute;
        bottom: 0;
        text-align: center;
    }

.container {
        max-width: 400px; /* Adjust as needed */
    }
    
#display {
        font-size: 2rem; /* Adjust as needed */
        height: 100px; /* Adjust as needed */
    }
    
#buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .btn-secondary {
        border: 1px solid black; /* Adjust color as needed */
    }
.btn-group {
        margin: 5px;
    }

